# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.venv
venv/
ENV/

# Environment variables & secrets
.env
*.env
!.env.example

# Testing & Linting
.coverage
htmlcov/
.pytest_cache/
.ruff_cache/
.mypy_cache/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker volumes
pgdata/
redisdata/
